[submodule "PicoGKRuntime"]
	path = PicoGKRuntime
	url = https://github.com/michaelp91-dev/PicoGKRuntime.git
[submodule "Oilfire/PicoGK"]
	path = Oilfire/PicoGK
	url = https://github.com/michaelp91-dev/PicoGK.git
